$primary-color: #005cbb;
$secondary-color: #ccc;

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: $primary-color;
  font-size: 16px;
  padding: 0px;
  border-top: 1px solid $secondary-color;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 400px; /* ajuste o valor para o tamanho desejado */
  margin: 0 auto;
  padding: 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}
